<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Résultats</title>
  </head>
  <body>
    {% if result %}
    <table>
      <tr>
        <th>
          Déclaration(s) trouvée(s) pour {% if value %}{{value}}{% endif %}:
        </th>
      </tr>
      <tr>
        <td>
          <ul>
            {% for data in result %}
            <li>{{data}}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
    {% else %}
    <h3>Aucune donnée correspondante</h3>
    {% endif %}
  </body>
</html>
