<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Accueil Déclaration</title>
  </head>

  <body>
    
    <div class="topnav">
      <a class="active" href="/">Accueil</a>
      <a href="/ajout-user">Création profil</a>
      <a href="#contact">Contact</a>
      <input type="text" placeholder="Search..">
    </div>
    
    <div class="login-box" id="declarations">
      <h2>Recherche déclaration</h2>
      <form action="/resultats" method="GET">
        {% if msg_vide %}
        <p style="color: #f00">{{msg_vide}}</p>
        {% endif %}
        <div class="user-box">
          <input type="text" id="id-decla" name="decla" placeholder="Par nom de quartier ou d'arrondissement ..."/>
          <label for="id-decla">Déclaration : </label>
        </div>
          <button type="submit" id="search-declas">Envoyer</button>
      </form>
     </div>
    

     <div class="login-box" id="dates">
      <h2>Recherche par dates</h2>

      <form id="form-dates">
        <div id="msg_error"></div>
        <div class="user-box">
          <input type="text" id="id-du" name="du" placeholder="Du ..."/>
          <label for="id-du">Date de début : </label>
        </div>
        
        <div class="user-box" id=date2>
          <input type="text" id="id-au" name="au" placeholder="Au ..."/>
          <label for="id-au">Date de fin : </label>

        </div>
        <br>
        <br>
          <button type="submit">Envoyer</button>

      </form>
     </div>
  
    
      <table id="table-date" style="width:100%">
        <tr>
          <th>Nom arrondissement</th>
          <th>Nom quartier</th>
          <th>Nombre de déclarations pour ce quartier</th>
        </tr>
        <div id="date-div"></div>
      </table>
    
  
     <script src="{{ url_for('static', filename='js/accueil.js') }}"></script>
  </body>
</html>

